.answerBtn {
    margin: 0 auto;
}

.questionWrapper {
    margin: auto;
}

.react-quiz-container {
    display: flex;
    width: auto!important;
}

.result-answer-wrapper img {
    margin: 0 auto!important;
    display: flex;
    width: auto!important;
}

.react-quiz-container .questionWrapper img {
    height: min-content;
    
}

