<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow direct access to existing files, folders, or symlinks
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d [OR]
  RewriteCond %{REQUEST_FILENAME} -l
  RewriteRule ^ - [L]

  # Redirect everything else to index.html
  RewriteRule ^ index.html [L]
</IfModule>