
/* 
.leaflet-control-rainviewer-active {
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 25px 25px;
}

.leaflet-control-rainviewer-active a.leaflet-control-rainviewer-button {
    display: none;
}

.leaflet-control-rainviewer-container {
    margin: auto;
    text-align: center;
    position: relative;
}

.leaflet-control-rainviewer-opacityslider,
.leaflet-control-rainviewer-positionslider,
.leaflet-control-rainviewer-label {
    display: block;
    clear: both;
    margin-top: 15px;
}

.leaflet-control-rainviewer-timestamp {
    text-align: center;
    margin: auto;
    clear: both;
    margin-top: 15px;
}

.leaflet-control-rainviewer-close {
    position: absolute;
    right: 3px;
    top: 5px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

.leaflet-control-rainviewer-close:hover {
    opacity: 1;
    cursor: pointer;
}

.leaflet-control-rainviewer-close:before,
.leaflet-control-rainviewer-close:after {
    position: absolute;
    right: 8px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
}

.leaflet-control-rainviewer-close:before {
    transform: rotate(45deg);
}

.leaflet-control-rainviewer-close:after {
    transform: rotate(-45deg);
}

.leaflet-control-rainviewer a.leaflet-control-rainviewer-button {
    background: #fff url(images/rainviewer.png) no-repeat 0 0; 
    background-size: 26px 26px;
}

.leaflet-touch .leaflet-control-rainviewer a {
    background-position: 2px 2px;
} */

.leaflet-control-rainviewer {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: none !important;
}

.map-buttons-play-center {
    margin: 0 auto;
    width: 360px;
    text-align: center;
}


.rainviewer-input {
    margin: 6px;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.rainviewer-input.with-text {
    padding: 14px 20px 14px 45px;
    background-position: 20px center;
}
.rainviewer-input.btn {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
}

.rainviewer-input-main {
    color: rgb(232, 230, 227);
    background-color: rgb(24, 26, 27);
    box-shadow: rgb(6 38 60 / 30%) 0px 2px 10px;
}

.rainviewer-button-left {
    background-image: url('./img/left.svg');
}

.rainviewer-button-right {
    background-image: url('./img/right.svg');
}

#rainviewer-button-playing {
    background-image: url('./img/play.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

#rainviewer-button-paused {
    background-image: url('./img/pause.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}