.modal-content {
    background-color: rgb(6 7 8);
    border-color: rgba(140, 130, 115, 0.2);
    outline-color: initial;
}


.close {
    color: rgb(232, 230, 227);
    text-shadow: rgb(24 26 27) 0px 1px 0px;
}

.close:hover {
    color: rgb(232, 230, 227);
    text-decoration-color: initial;
}