@media (max-width: 991px) {
    .about-text {
        margin-top: 40px;
    }
}

.about-text h3 {
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .about-text h3 {
        font-size: 35px;
    }
}

.about-text p {
    font-size: 20px;
}

.about-text p mark {
    font-weight: 900;
    color: #3a3973;
}

.about-img {
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.06);
    padding: 10px;
    max-width: 80%;
}

.about-img img {
    width: 100%;
    height: 100%;
    display: flex;
}

@media (max-width: 991px) {
    .about-img {
        margin-top: 30px;
    }
}
.about-section {
    padding: 5% 3%;
    padding-top: 7%
}

.underline {
    --line: #ffffff;
    text-decoration: none;
    color: var(--dark-grey);
    position: relative;
}

.underline span {
    background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: var(--background-size, 100%) 1px;
    transition: background-size 0.2s linear var(--background-delay, 0.15s);
    font-size: 18px;
    line-height: 20px;
    transform: translateZ(0);
}

.underline:hover {
    --background-size: 0%;
    --background-delay: 0s;
    --stroke-dashoffset: 26;
    --stroke-duration: 0.3s;
    --stroke-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
    --stroke-delay: 0.195s;
}

