.wrapper {
    width: 100%;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.tooltip {
    position: absolute;
    top: calc(100% - 2vh);
    right: 1vh;
    text-decoration: none;
    color: var(--vdi-color);
}