.confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

@keyframes spin {
    0%  {
        -webkit-transform: rotate(-180deg)
    }
} 

.spinning {
    animation: spin 1.5s infinite linear;
}



