.map-weather {
    background-color: #232323 !important;
    height: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.map-weather .leaflet-container {
    height: 100%;
    border-radius: 12px;
}

.play-control {
    font-family: "Space Grotesk",Arial,sans-serif;
    width: 165px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    color: rgba(72,72,74,.5);
    padding: 4pt 8pt;
    font-size: 8pt;
    overflow: hidden;
}

.play-control {
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    color: rgba(186, 180, 171, 0.5);
}

.play-control, .play-control button {
    color: rgb(186, 180, 171);
    background-color: rgb(24, 26, 27);
}

.play-control, .play-control button {
    color: #48484a;
    border-radius: 4pt;
    background-color: #fff;
    text-align: center;
}

.play-control button {
    border: none;
    outline: none;
    padding: 4pt;
    vertical-align: middle;
    font-size: 10pt;
    cursor: pointer;
}

.play-control button {
    border-color: initial;
    outline-color: initial;
    display: flex;
}


.player {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
} 

.play {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #48484a !important;
    height: 24pt !important;
    width: 24pt !important;
    border-radius: 20pt !important;
    margin: 4pt !important;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}


.play-control div:first-child {
    margin-bottom: 4pt;
}

.play-control div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    margin-top: -2pt;
}

.play-forward {
    display: flex;
    margin-left: -0.7rem;
}

.play-back {
    display: flex;
    margin-right: -0.8rem;
}

.play-forward-faster {
    margin-left: -1.4rem;
    display: flex;
}

.play-back-faster {
    margin-right: -1.5rem;
    display: flex;
}

.play-back-faster-img {
    margin-right: -2rem;
}

.play-forward-faster-img {
    margin-left: -2rem;
}



.map-control-layers {
    font-family: 'Space Grotesk',
    Arial,
    sans-serif;
    color: #48484a;
    width: 165px;
    box-sizing: border-box;
    font-size: 10pt;
    background: #fff;
    padding: 8pt;
    border-radius: 4pt;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%),
    0 1px 2px rgb(0 0 0 / 24%);
}

.map-control-layers-main {
    color: rgb(186, 180, 171);
    background-image: initial;
    background-color: rgb(24, 26, 27);
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px,
    rgb(0 0 0 / 24%) 0px 1px 2px;
}

.map-control-layers-main input {
    color: rgb(186, 180, 171);
    background-color: rgb(24, 26, 27);
}

.map-layer-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-between;
    white-space: nowrap;
}

.map-control-layers input:hover {
    background-color: rgb(31, 34, 35);
}

.map-layer-container input {
    width: 100%;
    margin: 0;
}

.map-control-layers input {
    display: block;
    text-align: left;
    cursor: pointer;
    padding: 4pt 12pt;
    border-radius: 4pt;
    font-weight: 400;
    outline: none;
    border-color: transparent;
}




.leaflet-bottom.leaflet-left {
    width: 100%;
}