.map {
    background-color: #232323 !important;
    height: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
    height: 100%;
    border-radius: 12px;
}

.white-monospace {
    color: white!important;
    font-family: monospace!important;
}
  
.black-monospace {
    color: black!important;
    font-family: monospace!important;
}
  
.monospace {
    font-family: monospace!important;
}
  
.display-flex-space-between {
    display: flex;
    justify-content: space-between;
}
  
.flex-column {
    display: flex;
    flex-direction: column;
}
  
.flex-row {
    display: flex;
    flex-direction: row;
}
  
.no-wrap {
    white-space: nowrap;
}
  
.no-margin {
    margin: 0!important;
}
  
.normal-font-weight {
    font-weight: normal!important;
}
  
.our-tooltip {
    background-color: #232323!important;
    border: 1px solid #000!important;
}
  
.our-tooltip:before {
    display:none;
}
  
.our-tooltip-title-text {
    margin-bottom: 5px;
}
  
.center-text {
    text-align: center;
}
  
.line-height-1 {
    line-height: 1!important;
}
  
.no-highlight-on-mobile-link-element-click {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.fullheight-minus-header {
    height: calc(var(--vh, 1vh) * 100 - 64px);
}
  
.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.opacity-hover {
opacity: 0.5;
transition: opacity .2s ease-in-out;
}

.opacity-hover:hover {
    opacity: 1;
}


.info-flag img {
    width: 100px;
    border-radius: 5px;
}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    text-overflow: ellipsis;
    overflow: hidden;
}

.info-container {
    max-width: 190px;
    overflow: hidden;
}

.info-flag {
    max-width: 100%;
    height: 80px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 16px;
    margin-top: 5px;
}

.info-flag-container {
    height: 80px;
    background-size: cover;
    border-radius: 8px;
    justify-content: center;
    display: flex;
}

.info-select {
    background-color: #3b3b3b !important;
    color: #fff !important;
}

.info-select {
    width: auto !important;
    margin-right: 5%;
}

.country-name {
    margin-right: 5%;
    margin-bottom: 0%;
}

.app__header {
    justify-content: space-between;
    display: flex;
    margin-bottom: 0.75rem;
}

.map-control-button {
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

/*Infobox*/

.app__stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.infoBox {
    background-color: #232323;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 10px;
}

.infoBox--selected {
    border-top: 10px solid greenyellow;
}

.infoBox--red {
    border-color: red;
}

.infoBox__cases--green {
    color: lightgreen !important;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}



.colorbox {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.legendinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.legendcontainer {
    background: #000;
}