.App {
  font-family: sans-serif;
  text-align: center;
}
#external-events {
  position: absolute;
  z-index: 2;

  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  overflow-y: scroll;
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
}

.fc-event-title {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  font-weight: bold;
}

.fc-h-event {
  border-color: #29323a; 
  background-color: #29323a;
  
}

.fc-sticky {
  color: #f4f4f5!important;
}

.fc-h-event:hover {
  background-color: #13152b;
  border-color:#13152b;
}

.fc-daygrid-event{
  border-color: #29323a; 
  background-color: #29323a;
}

.fc-event-title {
  color: var(--blue);
}

.fc .fc-list-event:hover td {
  background-color: #29323a;
}

.fc .fc-list-event-title a {
  color:  var(--blue);
}

.fc-theme-standard .fc-list-day-cushion {
  opacity: 90%;
}

.fc-theme-standard td {
  color:  var(--blue);
}

.fc-theme-standard .fc-list-day-cushion {
  background-color:rgb(0, 0, 0)
}

.fc-button-primary {
  transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out;
  font-family: Open Sans,sans-serif;
}

/* .fc-button-primary:hover {
  color: #f4f4f5;
  background-color: #3a3e6b!important;
  border-color: #353a63;
} */

.fc-button-primary:active {
  color: #f4f4f5;
  background-color: #353a63!important;
  border-color: #31355b;
}


.fc-button-primary {
  background-color: #474d84;
  color: #f4f4f5;
  border-color: #474d84;
}

.fc-button {
  display: inline-block;
  font-weight: 400;
  color: #29323a;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: initial;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .3rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}